.fees-calculator-page
  @extends .padded-page;
  .padded-main-box
    padding: 16px
    background: #fff
    .calc-body
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      margin: 40px 0
      width 100%
      .fields-box
        width: 300px
      .radios-box
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: flex-start
        width: 500px
        margin: 40px 0
        .md-radio
          margin: 5px 16px 5px 0
          .md-radio-label
            padding-left: 10px
        .radio-label
          margin-top: 30px
      .new-price
        font-size: 18px
        color: $cgray1
        font-weight: 500
        margin: 5px 0 15px 0
      .prices-box
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        width: 400px
        margin-top: 40px
        .price
          font-size: 18px
          color: $cgray2
          margin: 5px 0
