// ALL INSIDE SCOREBOARD/PROGRAMS
.club-programs-page
  .common-player-info
    margin: 20px auto
  .details
    margin-top: 40px
  .tabs-section
    margin-top: 20px
    .md-table.table-invoices
      background: #fff
      margin: 5px 0 30px 0
      .col-with-input
        width 150px
      .col-chips
        width 150px
        display: flex
        flex-flow: row wrap
        justify-content: flex-start
        align-items: center
        .md-chip
          margin-top: 2px
          margin-bottom: 2px
      .col-actions
        width 135px

    .actions-box
      width 100%
      display: flex
      flex-flow: row nowrap
      justify-content: flex-end
      align-items: center