// ALL INSIDE SCOREBOARD/PROGRAMS
.club-programs-page
  .common-player-info
    margin: 20px auto
  .details
    margin-top: 40px
  .tabs-section
    margin-top: 20px
    .md-table.custom-table
      background: #fff
      margin: 5px 0 30px 0

.assign-plan-page
  @extend .has-steppers;
  .step-box
    margin-bottom:40px
    .md-field
      max-width 220px