// MAIN FIXES
.md-app
  height 100vh
.md-drawer
  width: 300px!important
.md-app-scroller
.md-app-content
  background: #F5F5F5 !important
  border-left: none
  box-shadow:  inset 5px 0 5px -5px $cgray2
  @media $small-only
    padding: 0!important
sup 
  top: -.3em!important

.has-elevation-4
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

// COMMON PAGE WHITE
.common-page
  @extends .has-elevation-4;
  background: #ffffff
  padding: 16px
  margin-bottom: 16px;
  @media $small-only
    margin-bottom: 0px;
    height auto
    box-shadow: none
  .title
    color: $cgray1
    font-weight: 500
  .title-info
    color: $cgray2
    font-size: 13px
    line-height: 1.4

// COMMON PLAYER INFO
.common-player-info
  text-align: center
  .md-avatar
    @extends .has-elevation-4;
    margin-bottom: 10px
  .name
    color: $cc1
    font-size: 16px
  .team
    color: $cgray2
    font-size: 14px
    line-height: 1
  .with-menu-box
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: flex-end
    @media $small-only
      flex-flow: column nowrap
      align-items: center
    .player-info
      margin-right: 10px
      @media $small-only
        margin-right: 0px
        margin-bottom: 10px
    .md-menu
      margin-bottom: 5px;
      .md-icon 
        width: 18px;
        min-width: 18px;
        height: 18px;
        font-size: 18px!important;
  


// LINKS
a, a:hover, a:visited, a:link, a:active, a > *
  text-decoration: none !important

// STEPPERS
.has-steppers
  background: #fff
  padding: 16px
  .md-title
    color: $cgray1
  .md-stepper-header.md-done
    .md-stepper-number .md-icon svg
      fill: #fff !important
.md-steppers
  .md-stepper-header
    .md-stepper-number
      background: $clblue !important
      color: #fff
    &.md-active
      .md-stepper-number
        color: #fff !important
  @media $small-only
    .md-stepper
      &:after
        display none
      .md-stepper-header
        .md-ripple
          padding: 0 24px 0 0px!important
          .md-button-content
            padding-left: 0!important
      .md-stepper-content
        padding: 0

// MD-CARD
.common-card
  padding: 16px 16px 10px 16px
  .actions
    text-align: center
    .md-button
      margin: 0

// MD-BUTTONS
.md-button
  .md-ripple
    padding: 0 14px
// Light Blue button
.md-button.md-accent.lblue
  color $clblue
  .md-button-content .md-icon
    color $clblue
  &.md-raised
    background-color $clblue !important
  &[disabled]
    // opacity: .4
    // color: $cgray4
    color: rgba(0,0,0,.26)!important
    background-color: rgba(0,0,0,.12)!important

// MD-SWITCH
.md-switch.md-accent.lblue
  .md-switch-container
    background-color: $clblue2
  &.md-checked
    .md-switch-thumb
      background-color: $clblue

// MD-CHECKBOX
.md-checkbox
  .md-checkbox-label
    height auto!important
  label 
    line-height: 1.2
    text-align: left
.md-checkbox.lblue
  &.md-checked
    .md-checkbox-container
      background-color: $clblue
      border-color: $clblue

// MD-INPUT
.md-field
  // .md-prefix
  //   margin-top: 5px
  &.md-disabled
    input 
      -webkit-text-fill-color: $cgray2!important
      color: $cgray2!important
    &:after
      background-color: $cgray3!important
      background-image: none!important
    .md-prefix
      color: $cgray2!important
      margin-top: 5px


// MD-AVATAR MD-ICON
.md-avatar-icon .md-icon
  color: #fff!important

// MD-RADIO
.md-radio.lblue
  .md-radio-container
    border-color: $clblue!important
    &:after
      background-color: $clblue!important

// MD-ICONS
.md-icon
  &.md-size-c
    width: 34px;
    min-width: 34px;
    height: 34px;
    font-size: 34px!important

// MD-DATEPICKER
.md-datepicker-dialog
  flex-flow: column nowrap
  .md-datepicker-header
    color: #ffffff!important
    .md-datepicker-dayname
      display inline!important
  .md-datepicker-body
    .md-datepicker-day-button.md-datepicker-selected
      color: #fff!important
    .md-dialog-actions.md-datepicker-body-footer
      .md-button
        color: $clblue

// City-State-ZIP in one row
.address-info
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  @media $small-only
    flex-flow: column nowrap
  & > div:nth-child(1)
    width: 49%
    @media $small-only
      width: 100%
  & > div:nth-child(2)
    width: 20%
    @media $small-only
      width: 100%
  & > div:nth-child(3)
    width: 29%
    @media $small-only
      width: 100%
  &.no-zip
    & > div:nth-child(1)
      width: 64%
      @media $small-only
        width: 100%
    & > div:nth-child(2)
      width: 35%
      @media $small-only
        width: 100%

// SELECT MENU FIX
.md-select-menu.md-menu-content
  z-index 12

// MD-MENU
.md-menu-content
  z-index 12
  .md-list-item-container
    color: $clblue
    text-align: right
    &:hover
      color: $clblue!important

// PLACEHOLDER MIXIN
mixin-placeholder(c)
  &::-webkit-input-placeholder
    color: c;
  &::-moz-placeholder
    color: c;
  &:-ms-input-placeholder
    color: c;
  &:-moz-placeholder
    color: c;

// STRIPE CARD OVERRIDE
.StripeElement
  background-color: white
  height: 40px
  padding: 10px 0px
  border-bottom: 1px solid rgba(0, 0, 0, 0.42)
  transition all ease 400ms
  margin: 4px 0 24px
  &.StripeElement--focus 
    border-bottom: 2px solid $ca1
    border-color: $ca1
  &.StripeElement--invalid 
    border-color: #fa755a
  &.StripeElement--webkit-autofill 
    background-color: #fefde5 !important


// TEXT
.centered
  text-align: center
.title
  color: $cgray1
  font-weight: 500
  font-size: 18px
.title-big
  color: $cgray1
  font-weight: 500
  font-size: 20px
.title-info
  color: $cgray2
  font-size: 13px
  line-height: 1.4
.bold
  font-weight: 500
.bolder
  font-weight: 600
.caption
  color: $cgray2
  font-size: 11px
  line-height: 1.4
  &.red
    color: $cred
.field-caption
  @extends .caption;
  margin-top: -18px
  margin-bottom: 15px
.number-big
  font-size: 22px
  font-weight: 600

// COLORS
.cred
  color $cred!important
.cblue
  color $cblue!important
.clblue
  color $clblue!important
.cgreen
  color $cgreen!important
.ca1
  color $ca1!important
.cgray
  color $cgray1!important

// Input type number remove arrows
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Details Box - used in programs/players
.pre-cards-title
  color: $cgray2
  margin-bottom: 10px
  @media $small-only
    padding-left: 16px
  &.with-sort-filter
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    width: 100%
.md-menu-content.sort-box
.md-menu-content.filter-box
  ul.md-list
    padding: 12px
    .title
      color: $cblack
    .actions
      margin-top: 10px
      // border-top: 1px solid #ccc
      // margin: 10px -12px 0 -12px
.md-menu-content.filter-box
  ul.md-list .md-checkbox
    display: flex

.details-box
  @extends .has-elevation-4;
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: flex-start
  padding: 10px 12px
  background: #fff
  @media $small-only
    flex-flow: column wrap
    margin: 0 16px;
  .details-selects
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start
    align-items: center
    @media $small-only
      flex-flow: column wrap
      justify-content: center
      width: 100%
      margin-bottom: 20px
    .md-field
      width auto
      margin-bottom: 10px
      @media $small-only
        width: 100%
      &:not(:last-child)
        margin-right: 20px
        @media $small-only
          margin-right: 0
  .details-numbers
    margin-top: 4px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end
    align-items: center
    @media $small-only
      flex-flow: row wrap
      justify-content: center
      width: 100%
      margin-bottom: 10px
    .title-big
      margin-top: 2px
      margin-bottom: 20px
    & > div:not(:last-child)
      margin-right: 20px
    .concept
      color: $cgray2
      font-size: 13px
    .green
      color: $cgreen
    .gray
      color: $cgray1
    .red
      color: $cred
    .blue
      color: $cblue

// CARDS layout 1
.cards-layout
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center
  @media $small-only
    justify-content: center
    width 100%
  @media $xlarge-up
    .md-card
      width: 250px
  .md-card
    margin: 0 15px 15px 0
    width: 220px;
    height 200px
    @media $small-only
      margin: 0 0px 20px 0
      width 70%
    .md-card-actions
      justify-content: center