// MAIN FIXES
.md-app
  height 100vh
.md-drawer
  width: 300px!important
.md-app-scroller
.md-app-content
  background: #F5F5F5 !important
  border-left: none
  box-shadow:  inset 5px 0 5px -5px $cgray2

// LINKS
a, a:hover, a:visited, a:link, a:active, a > *
  text-decoration: none !important

// STEPPERS
.has-steppers
  background: #fff
  padding: 16px
  .md-title
    color: $cgray1
  .md-stepper-header.md-done
    .md-stepper-number .md-icon svg
      fill: #fff !important
.md-steppers
  .md-stepper-header
    .md-stepper-number
      background: $clblue !important
      color: #fff
    &.md-active
      .md-stepper-number
        color: #fff !important

// MD-BUTTONS
.md-button
  .md-ripple
    padding: 0 14px
.md-button-content
  text-transform: none
// Light Blue button
.md-button.md-accent.lblue
  color $clblue
  &.md-raised
    background-color $clblue !important
  &[disabled]
    opacity: .4
    color: $cgray4

// MD-SWITCH
.md-switch.md-accent.lblue
  .md-switch-container
    background-color: $clblue2
  &.md-checked
    .md-switch-thumb
      background-color: $clblue

// MD-CHECKBOX
.md-checkbox
  label 
    line-height: 1.2
    text-align: left
.md-checkbox.md-accent.lblue
  &.md-checked
    .md-checkbox-container
      background-color: $clblue
      border-color: $clblue

// MD-INPUT
.md-field.md-disabled
  input 
    -webkit-text-fill-color: $cgray2!important
    color: $cgray2!important
  &:after
    background-color: $cgray3!important
    background-image: none!important

// MD-AVATAR MD-ICON
.md-avatar-icon .md-icon
  color: #fff!important

// MD-ICONS
.md-icon
  &.md-size-c
    width: 32px;
    min-width: 32px;
    height: 32px;
    font-size: 32px!important

// MD-DATEPICKER
.md-datepicker-dialog
  flex-flow: column nowrap
  .md-datepicker-header
    color: #ffffff!important
    .md-datepicker-dayname
      display inline!important
  .md-datepicker-body
    .md-datepicker-day-button.md-datepicker-selected
      color: #fff!important
    .md-dialog-actions.md-datepicker-body-footer
      .md-button
        color: $clblue

// MD-DIALOG
.md-dialog.add-card-dialog
.md-dialog.invoice-dialog
.md-dialog.accounts-dialog
  width: 500px!important
  .dialog-header
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    background: $ca1
    .title
      color: #fff
      font-size: 18px
      padding: 16px
    .md-icon
      color: #ffffff
    &.white-dialog-header
      background: #fff
      .title
        color: $cgray1
        font-weight: 500
  .md-dialog-actions
    padding: 16px
  .md-tabs-navigation
    // background: $ca1
    padding: 0
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14)
    .md-button
      background: $ca1!important
      color: #fff!important
      max-width none!important
      &.md-active
        color: #fff!important
    .md-tabs-indicator
      background-color: #fff
  .md-tab
    padding: 16px!important

// INVOICE DIALOG
.md-dialog.invoice-dialog
  .order-numbers
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    color: $cgray2
    font-size: 13px
  .instructions
    color: $cgray2
    font-size: 13px
    margin: 10px 0

// ACCOUNTS DIALOG
.md-dialog.accounts-dialog
  .md-list
    margin-bottom: 50px

// ADD CARD DIALOG
.md-dialog.add-card-dialog
  .main-box
    padding: 16px
    .field-info
      color: $cgray2
      font-size: 12px
      line-height: 1
      font-weight: 500 
    .card-fields
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      div:nth-child(1)
        width: 49%
      div:nth-child(2)
        width: 29%
      div:nth-child(3)
        width: 20%
    .address-info
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      div:nth-child(1)
        width: 49%
      div:nth-child(2)
        width: 20%
      div:nth-child(3)
        width: 29%

// SELECT MENU FIX
.md-select-menu.md-menu-content
  z-index 12

// MD-MENU
.md-menu-content.dialog-menu-content
  z-index 12
  .md-icon
    color: $cblue

// PLACEHOLDER MIXIN
mixin-placeholder(c)
  &::-webkit-input-placeholder
    color: c;
  &::-moz-placeholder
    color: c;
  &:-ms-input-placeholder
    color: c;
  &:-moz-placeholder
    color: c;

// STRIPE CARD OVERRIDE
.StripeElement
  background-color: white
  height: 40px
  padding: 10px 0px
  border-bottom: 1px solid rgba(0, 0, 0, 0.42)
  transition all ease 400ms
  margin: 4px 0 24px
  &.StripeElement--focus 
    border-bottom: 2px solid $ca1
    border-color: $ca1
  &.StripeElement--invalid 
    border-color: #fa755a
  &.StripeElement--webkit-autofill 
    background-color: #fefde5 !important


// TEXT
.title
  font-size: 18px
.bold
  font-weight: 500
.bolder
  font-weight: 600
.caption
  color: $cgray2
  font-size: 11px
  line-height: 1.4
  &.red
    color: $cred
.number-big
  font-size: 22px
  font-weight: 600

// COLORS
.cred
  color $cred!important
.cblue
  color $cblue!important
.clblue
  color $clblue!important
.cgreen
  color $cgreen!important
.ca1
  color $ca1!important
.cgray
  color $cgray1!important

