// MAIN FIXES
.md-app
  height 100vh
.md-drawer
  width: 300px
.md-app-scroller
.md-app-content
  background: #F5F5F5 !important
  border-left: none
  box-shadow:  inset 5px 0 5px -5px $cgray2

// LINKS
a, a:hover, a:visited, a:link, a:active, a > *
  text-decoration: none !important

// STEPPERS
.md-steppers
  .md-stepper-header
    .md-stepper-number
      background: $clblue !important
      color: #fff
    &.md-active
      .md-stepper-number
        color: #fff !important

// MD-BUTTONS
.md-button
  .md-ripple
    padding: 0 14px
.md-button-content
  text-transform: none
// Light Blue button
.md-button.md-accent.lblue
  color $clblue
  &.md-raised
    background-color $clblue !important

// MD-SWITCH
.md-switch.md-accent.lblue
  .md-switch-container
    background-color: $clblue2
  &.md-checked
    .md-switch-thumb
      background-color: $clblue

// MD-CHECKBOX
.md-checkbox
  label 
    line-height: 1.2
    text-align: left
.md-checkbox.md-accent.lblue
  &.md-checked
    .md-checkbox-container
      background-color: $clblue
      border-color: $clblue

// MD-AVATAR MD-ICON
.md-avatar-icon .md-icon
  color: #fff!important

// MD-ICONS
.md-icon
  &.md-size-c
    width: 32px;
    min-width: 32px;
    height: 32px;
    font-size: 32px!important

// MD-DIALOG
.md-dialog.custom-dialog
  .title
    color: #fff
    font-size: 18px
    background: $ca1
    padding: 16px
  .md-tabs-navigation
    padding: 0
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14)
    .md-button
      background: $ca1
      color: #fff
      &.md-active
        color: #fff
    .md-tabs-indicator
      background-color: #fff
.md-dialog.invoice-dialog
  .order-numbers
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    color: $cgray2
    font-size: 13px
  .instructions
    color: $cgray2
    font-size: 13px
    margin-top: 10px



// PLACEHOLDER MIXIN
mixin-placeholder(c)
  &::-webkit-input-placeholder
    color: c;
  &::-moz-placeholder
    color: c;
  &:-ms-input-placeholder
    color: c;
  &:-moz-placeholder
    color: c;

// TEXT
.title
  font-size: 18px
.bold
  font-weight: 500
.bolder
  font-weight: 600
.caption
  color: $cgray2
  font-size: 11px
  line-height: 1.4
  &.red
    color: $cred
.number-big
  font-size: 22px
  font-weight: 600

// COLORS
.cred
  color $cred!important
.cblue
  color $cblue!important
.clblue
  color $clblue!important
.cgreen
  color $cgreen!important
.ca1
  color $ca1!important
.cgray
  color $cgray1!important

