// MD-DIALOG
.md-dialog.add-card-dialog
.md-dialog.invoice-dialog
.md-dialog.accounts-dialog
.md-dialog.edit-player-dialog
  width: 500px!important
  .dialog-header
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    background: $ca1
    .title
      color: #fff
      font-size: 18px
      padding: 16px
    .md-icon
      color: #ffffff
    &.white-dialog-header
      background: #fff
      .title
        color: $cgray1
        font-weight: 500
  .md-dialog-actions
    padding: 16px
  .md-tabs-navigation
    // background: $ca1
    padding: 0
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14)
    .md-button
      background: $ca1!important
      color: #fff!important
      max-width none!important
      &.md-active
        color: #fff!important
    .md-tabs-indicator
      background-color: #fff
  .md-tab
    padding: 16px!important

// INVOICE DIALOG
.md-dialog.invoice-dialog
  .order-numbers
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    color: $cgray2
    font-size: 13px
  .instructions
    color: $cgray2
    font-size: 13px
    margin: 10px 0

// ACCOUNTS DIALOG
.md-dialog.accounts-dialog
  .md-list
    margin-bottom: 50px

// ADD CARD DIALOG
.md-dialog.add-card-dialog
  .main-box
    padding: 16px
    .field-info
      color: $cgray2
      font-size: 12px
      line-height: 1
      font-weight: 500 
    .card-fields
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center
      div:nth-child(1)
        width: 49%
      div:nth-child(2)
        width: 29%
      div:nth-child(3)
        width: 20%

// EDIT PLAYER DIALOG
.md-dialog.edit-player-dialog
  width: 400px!important
  .update-pic
    margin-top: 20px
  .names-box
    padding: 0 16px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    margin: 10px 0
    width 100%
    div:first-child
      margin-right: 10px
  .actions
    margin: 10px 0
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center