// MD-DIALOG
.md-dialog.add-card-dialog
.md-dialog.invoice-dialog
.md-dialog.accounts-dialog
.md-dialog.edit-player-dialog
.md-dialog.duplicate-payment-dialog
.md-dialog.refund-invoice-dialog
  width: 500px!important
  @media $small-only
    width: 100%!important
  &.small
    width: 400px!important
    @media $small-only
      width: 100%!important
  .dialog-header
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    background: $ca1
    min-height: 52px
    .title
      color: #fff
      font-size: 18px
      padding: 16px
    .md-icon
      color: #ffffff
    &.white-dialog-header
      background: #fff
      .title
        color: $cgray1
        font-weight: 500
  .md-dialog-actions
    padding: 16px
    @media $small-only
      justify-content: flex-start
  .md-tabs-navigation
    // background: $ca1
    padding: 0
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14)
    min-height: 48px!important
    .md-button
      background: $ca1!important
      color: #fff!important
      max-width none!important
      min-height: 48px!important
      .md-ripple
        height auto!important
        min-height: 48px!important
        padding: 16px 0
      &.md-active
        color: #fff!important
    .md-tabs-indicator
      background-color: #fff
  .md-tabs-content
    overflow-y: auto
  // .tab-box

.duplicate-payment-dialog
  .text-instructions
    padding: 16px
  .actions
    margin-bottom: 16px
    display: flex
    flex-flow: column nowrap
    justify-content: flex-end
    align-items: flex-end

// INVOICE DIALOG
.md-dialog.invoice-dialog
  .order-numbers
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    color: $cgray2
    font-size: 13px
  .instructions
    color: $cgray2
    font-size: 13px
    margin: 10px 0
  .history-card
    @extends .has-elevation-4;
    margin: 10px 0
    width 100%
    color: $cgray2
    font-size: 13px
    padding: 8px
    .title
      color: $cgray1
      font-size: 15px
    .row
      display: flex
      flex-flow: row nowrap
      justify-content: space-between
      align-items: center


// ACCOUNTS DIALOG
.md-dialog.accounts-dialog
  .md-list
    margin-bottom: 50px

// ADD CARD DIALOG
.md-dialog.add-card-dialog
  .main-box
    padding: 16px
    .field-info
      color: $cgray2
      font-size: 12px
      line-height: 1
      font-weight: 500 

// EDIT PLAYER DIALOG
.md-dialog.edit-player-dialog
  .update-pic
    margin-top: 20px
  .names-box
    padding: 0 16px
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    margin: 10px 0
    width 100%
    div:first-child
      margin-right: 10px
    @media $small-only
      flex-flow: column nowrap
      div:first-child
        margin-right: 0px
  .actions
    margin: 10px 0
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

// REFUND DIALOG
.md-dialog.refund-invoice-dialog
  .dialog-body
    padding: 16px
    .title-info
      margin: 30px 0 10px 0

// ASSIGN PLAN TO PARENT
.md-dialog.assign-plan-parent-dialog
  .dialog-body
    padding: 16px
    .title-info
      margin: 30px 0 10px 0
  
// ALERT DIALOG
.alert-dialog
  .md-dialog-container
    .md-dialog-actions
      .md-button
        color $clblue!important
      .md-button-content .md-icon
        color $clblue!important
    .md-title
      @extends .title;
  &.confirm
    .md-dialog-actions
      .md-button:last-child
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)!important
        background-color: $clblue!important
        color: #fff!important