// ONLY FIXED GLOBAL VALUE - ALL OTHER SHOULD BE REM
html {
  font-size: 62.5% // Sort of 10px
  @media $small-only {
    font-size: 56.3% // Sort of 9px
  }
  @media $xlarge-up {
    font-size: 75% // Sort of 12px
  }
}
body 
  color: $black
  font-family: $ffbbook
  font-size: 1.4rem
  line-height: normal
  font-style: normal
  font-stretch: normal
a 
  text-decoration: none
  color: inherit

// BUTTON
.btn
  width: auto
  border-radius: $border-radius-size
  font-family: inherit
  font-size: inherit
  color: inherit
  cursor: pointer
  display: inline-block
  outline: none
  border: none
  background-color: #EDEDED
  color: $black
  font-size: 1.4rem
  font-weight: bold
  border: 2px solid #EDEDED
  padding: 1rem 3rem
  &--big
    padding: 1.6rem 6rem
    font-size: 1.6rem
  &--dark
    border: 2px solid #D7D7D7
    background-color: #D7D7D7
  &:hover
    background: transparent
    color: $black