// We are going to use Material Design CSS so all values taken from there
.md-app
  height 100vh
.md-drawer.left-nav
  width: 245px
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: flex-start
  .md-list-item-content>.md-icon:first-child
    margin-right: 20px