.md-app
  height 100vh
.top-toolbar
  width 100%
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  .logo
    width: 50px
    img 
      width 100%
  .search-input
    color: #fff
    width 400px
    .md-icon
      color: #fff !important
    label,
    input
      -webkit-text-fill-color #fff !important
      color #fff
    &:after,
    &:before
      background-color: #fff
.left-nav
  width: 245px
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: flex-start
  .user-menu
    .md-button
      height 46px
  .md-list-item-content>.md-icon:first-child
    margin-right: 20px