.md-app
  height 100vh
.top-toolbar
  width 100%
  .logo
    width: 50px
  .search-input
    color: #fff
    label,
    input
      -webkit-text-fill-color #fff !important
      color #fff
    &:after
      background-color: #fff
.md-drawer.left-nav
  width: 245px
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: flex-start
  .user-menu
    .md-button
      height 46px
  .md-list-item-content>.md-icon:first-child
    margin-right: 20px