.payments-page
  @extend .has-steppers;
  @extends .margined-page;
  .step-actions
    color red
  .players
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    .player
      width 200px
      height 120px
      margin: 0 20px 20px 0
      padding: 0px
      text-align: center
      cursor: pointer
      display: flex
      flex-flow: column wrap
      justify-content: center
      align-items: center
      .md-avatar
        margin: 0 0 5px 0
      .name
        color: $cblue
  .programs
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    @media $small-only
      justify-content: center
      width: 100%
    .program
      width 200px
      height 60px
      line-height: 1
      margin: 0 20px 20px 0
      padding: 15px 20px
      text-align: center
      color: $cblue
      cursor: pointer
      display: flex
      flex-flow: row wrap
      justify-content: center
      align-items: center
  .payment-accounts
    .account
      display: flex
      flex-flow: column wrap
      justify-content: center
      align-items: center
      height 100%
      width: 100%
      .md-avatar
        margin: 0 0 10px 0
        color: $cblack
      .name
        color: $cblue
  .payment-plans
    .payment-plan
      height 100%
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      text-align: center
      cursor: pointer
      .title-total
        margin: 30px 0 5px 0
        color: $cgreen
        font-weight: bold
    .payment-single
      padding: 16px
      cursor: pointer
      display: flex
      flex-flow: column nowrap
      justify-content: space-between
      align-items: flex-start
      .details
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        align-items: center
        width 100%
        .icon-side
          text-align: center
        .amount-side
          .caption
            text-align: right
          .number-big
            text-align: right
            margin-top: 5px
      .actions
        width 100%
        text-align: center
        .md-button
          margin: 0
  .additional-info-box
    max-width 300px
  .docs-signature
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    .doc-signature
      width 200px
      line-height: 1
      margin: 0 20px 20px 0
      padding: 30px 10px
      text-align: center
      cursor: pointer
      display: flex
      flex-flow: row wrap
      justify-content: center
      align-items: center
  .review-checks
    .md-checkbox
      margin: 10px 16px 10px 0
