.pay-animation{
  background: transparent!important
  box-shadow: none!important
  .container {
    margin: auto
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    height: 100px;
    position: relative;
    width: 100px;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 50%;
    height: calc(100% - 12px);
    transition: all 0.3s ease;
    width: calc(100% - 12px);
    .check {
      color: #fafafa!important;
      font-size: 48px!important;
      opacity: 0;
      position: absolute;
    }
    .failed {
      color: black!important;
      font-size: 48px!important;
      opacity: 0;
      position: absolute;
    }
    .logo-img {
      opacity: 1;
      width: 60%
    }
  }

  .svg-container {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .circle {
    cx: 50%;
    cy: 50%;
    r: 45%;
    fill: transparent;
  }

  .mask-shadow {
    height: 115px;
    opacity: 0;
    position: absolute;
    width: 115px;
    z-index: -1;
  }

  .animate{
    .content {
      background-color: #03a9f4;
    }
    .circle-base {
      animation: growUp ease-in-out 2.5s infinite;
      stroke: #eeeeee;
    }
    .circle-bar {
      animation: dash linear 2.5s infinite;
      stroke-linecap: round;
      transform-origin: center;
    }
    .mask-shadow {
      animation: shadow linear 2.5s infinite;
    }
    
  } 
  .stop{
    .content {
      animation: bgColor linear .5s;
      background-color: #81d4fa;
      .logo-img {
        animation: iconFadeIn linear .5s;
        opacity: 0;
      }
      .check {
        animation: iconFadeOut linear .5s;
        opacity: 1;
      }
      .failed  {
        color: red;
        animation: iconFadeOut linear .5s;
        opacity: 1;
      }
    }
  }
 
}

@keyframes growUp {
  0%, 100% {
    stroke: transparent;
    stroke-width: 0px;
  }
  10%, 90% {
    stroke: #b3e5fc;
    stroke-width: 5px;
  }
}
@keyframes dash {
  10%, 100% {
    stroke: transparent;
    stroke-width: 0px;
  }
  20%, 90% {
    stroke: #81d4fa;
    stroke-width: 5px;
  }
  10%, 20% {
    stroke-dasharray: 0, 282.6%;
  }
  20% {
    transform: rotate(0deg);
  }
  50% {
    stroke-dasharray: 50, 282.6%;
    transform: rotate(180deg);
    stroke-width: 5px;
  }
  80% {
    stroke-dasharray: 282.6%;
    transform: rotate(270deg);
  }
}
@keyframes bgColor {
  0%, 90% {
    background-color: #03a9f4;
  }
  100% {
    background-color: #81d4fa;
  }
}
@keyframes shadow {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
@keyframes iconFadeIn {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes iconFadeOut {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
