.payments-page
  background: #fff
  padding: 15px
  .md-title
    color: $cgray1
  .md-stepper-header.md-done
    .md-stepper-number .md-icon svg
      fill: #fff !important
  .step-actions
    color red
  .players
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    .player
      width 200px
      height 120px
      margin: 0 20px 20px 0
      padding: 0px
      text-align: center
      cursor: pointer
      display: flex
      flex-flow: column wrap
      justify-content: center
      align-items: center
      .md-avatar
        margin: 0 0 5px 0
      .name
        color: $cblue
  .programs
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    .program
      width 200px
      height 60px
      line-height: 1
      margin: 0 20px 20px 0
      padding: 15px 20px
      text-align: center
      color: $cblue
      cursor: pointer
      display: flex
      flex-flow: row wrap
      justify-content: center
      align-items: center