.public-layout
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: center
  height 100vh
  .public-logo-box
    width 100px
    margin-top: 15vh;
  .public-content
    height 100%
    width: 350px
    margin-top: 40px
    text-align: center
  .public-footer
    margin-bottom: 20px
    font-size: 13px
    color: $cgray2
.fb-button
  color: #ffffff
  background: $cfb
  padding: 8px 15px
  margin: 16px 0
  display: inline-block
  cursor: pointer
.no-account-box
  margin-top: 30px
  .signup-link
    margin-left: 20px