// MD-TABLE
.table-title
  color: $cgray2
  margin-bottom: 5px
  margin-top: 30px

.table-actions-box
  width 100%
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
  align-items: center

.md-table.custom-table
  .col-with-input
    width 150px
  .col-chips
    width 150px
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    .md-chip
      margin-top: 2px
      margin-bottom: 2px
  .col-actions
    width 135px
  .col-25
    width 25%
  .col-with-img
    .md-table-cell-container
      display: flex
      flex-flow: row wrap
      justify-content: flex-start
      align-items: center
      .md-avatar
      .md-icon
      img.club-img
        margin: 0 8px 0 0
      img.club-img
        width 25px
      .md-icon
        color: $ca1
