// MD-TABLE
.table-title
  color: $cgray2
  margin-bottom: 5px
  margin-top: 30px

.table-actions-box
  width 100%
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
  align-items: center

.table-container
  overflow: scroll
  height: 75%

.md-table.custom-table
  background: #fff!important
  @media $small-only
    margin-right 0px
    margin-left 0px
  .md-table-row
    &:hover
      box-shadow: inset 3px 0 0 $ca1
      background-color: alpha($cgreenback,.4)
      .md-table-cell
          background-color: transparent!important
        .md-table-cell-container
          background-color: transparent!important
    .md-table-cell
      .md-table-cell-container
        color: $cgray1
    &.red-row
      .md-table-cell
        .md-table-cell-container
          color: $cred

  .totals
    // background $clblue
    font-weight: 500
    .md-table-cell
      font-size: 13px
      .md-table-cell-container
        height 55px
        line-height: (55 - 12)px
  .col-150
    width 150px
  .col-chips
    width 150px
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    align-items: center
    .md-chip
      margin-top: 2px
      margin-bottom: 2px
  .col-actions
    width 135px
  .col-25
    width 25%
  .col-with-img
    .md-table-cell-container
      display: flex
      flex-flow: row wrap
      justify-content: flex-start
      align-items: center
      .md-avatar
      .md-icon
      img.club-img
        margin: 0 8px 0 0
      img.club-img
        width 25px
      .md-icon
        color: $ca1
