// VARS
$black = #111
$gray = #a1a1a1
$purple = #302E61
$red = #EC4D61
$border-radius-size = 5px

// BREAKPOINTS
$small-up = "only screen"
$small-only = "only screen and (max-width: 800px)"
$medium-up = "only screen and (min-width:801px)"
$medium-only = "only screen and (min-width:801px) and (max-width:1200px)"
$large-up = "only screen and (min-width:1201px)"
$xlarge-up = "only screen and (min-width:1921px)"

// COLORS
$cgreen = "#69be45"
$cteal = "#006E82"
$ca1 = "#00B29F"
$ca2 = "#31B9DF"
$ca3 = "#B6DCB7"
$cc1 = "#00425F"
$cc2 = "#145B7D"
$cc3 = "#C8D3D2"

// FONTS
@font-face{
  font-family: 'Arch'
  src: url(./assets/fonts/Typomancer-Arch-Bold.otf)
}
@font-face{
  font-family: 'BrokmanBook'
  src: url(./assets/fonts/TheNorthernBlockLtd-BrokmanBook.otf)
}
@font-face{
  font-family: 'BrokmanMedium'
  src: url(./assets/fonts/TheNorthernBlockLtd-BrokmanMedium.otf)
}

$ffarch = 'Arch', Helvetica, 'Helvetica Neue', Arial, sans-serif
$ffbmed = 'BrokmanMedium', Helvetica, 'Helvetica Neue', Arial, sans-serif
$ffbbook = 'BrokmanBook', Helvetica, 'Helvetica Neue', Arial, sans-serif