// VARS
$black = #111
$gray = #a1a1a1
$purple = #302E61
$red = #EC4D61
$border-radius-size = 5px

// BREAKPOINTS
$small-up = "only screen"
$small-only = "only screen and (max-width: 800px)"
$medium-up = "only screen and (min-width:801px)"
$medium-only = "only screen and (min-width:801px) and (max-width:1200px)"
$large-up = "only screen and (min-width:1201px)"
$xlarge-up = "only screen and (min-width:1921px)"
