// VARS
$brs = 5px

// BREAKPOINTS
$small-up = "only screen"
$small-only = "only screen and (max-width: 600px)"
$small-only2 = "only screen and (max-width: 944px)"
$medium-up = "only screen and (min-width:601px)"
$medium-only = "only screen and (min-width:601px) and (max-width:1280px)"
$large-up = "only screen and (min-width:1281px)"
$xlarge-up = "only screen and (min-width:1921px)"

// COLORS
$cblack = rgba(0,0,0,0.87)
$cblue = #006E82
$clblue = #5CB7DD
$clblue2 = #A6DBED
$cgreen = #69be45
$cred = #e35565
$ca1 = #00B29F
$ca2 = #31B9DF
$ca3 = #B6DCB7
$cc1 = #00425F
$cc2 = #145B7D
$cc3 = #C8D3D2
$cgray1 = #666666
$cgray2 = #a7a7a7
$cgray3 = #C6CCD1
$cgray4 = #fbfbfb
$cfb = #405A93
$cyellow = #EBAE54

// FONTS
@font-face{
  font-family: 'Arch'
  src: url(./assets/fonts/Typomancer-Arch-Bold.otf)
}
@font-face{
  font-family: 'BrokmanBook'
  src: url(./assets/fonts/TheNorthernBlockLtd-BrokmanBook.otf)
}
@font-face{
  font-family: 'BrokmanMedium'
  src: url(./assets/fonts/TheNorthernBlockLtd-BrokmanMedium.otf)
}

$ffarch = 'Arch', Helvetica, 'Helvetica Neue', Arial, sans-serif
$ffbmed = 'BrokmanMedium', Helvetica, 'Helvetica Neue', Arial, sans-serif
$ffbbook = 'BrokmanBook', Helvetica, 'Helvetica Neue', Arial, sans-serif