@require './_vars.styl'
@require './_common.styl'
@require './_public.styl'
@require './_nav.styl'
@require './_players.styl'
@require './_payments.styl'
@require './_profile.styl'
@require './_upgrade.styl'
@require './_newInvoices.styl'
@require './_welcome.styl'
@require './_payAnimation.styl'
@require './_dialogs.styl'
@require './_programs.styl'

// DEBUG toolbar
.debug-info-local
.debug-info-develop
.debug-info-stage
  display: none
  position: fixed
  top: 0
  right: 0
  font-size: 10px
  z-index: 99
.debug-info-local
  background-color: rgba(151, 151, 211, 0.5)
.debug-info-develop 
  background-color: rgba(211, 151, 151, 0.5)
.debug-info-stage 
  background-color: rgba(151, 211, 169, 0.5)
    